
@{
    ViewData["Title"] = "ThankYouMessage";
}


<br />
<br />
<br />


<div class="alert alert-info text-center">
    Siparişiniz alınmıştır. Bizi tercih ettiğiniz içini teşekkür ederiz.
    <br />
</div>